<h1><%= @topic.name %></h1>

<p id="notice"><%= notice %></p>

<%= will_paginate @posts %>

<%= render @posts %>

<p>
	<% if signed_in? %>
	<%= link_to "Reply", "#{new_post_path}?topic=#{@topic.id}" %> |
	<% end %>
	<% if admin? %><%= link_to "Destroy Thread", @topic, :confirm => 'Are you sure?', :method => :delete %> |<% end %>
	<%= link_to "View All Threads", forum_path(@topic.forum_id) %>
</p>
