<%= form_for @post, :html => {:class => "input_area"}  do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

	<ul>
		<% @post.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% if params[:topic] %><input type="hidden" id="topic_forum_id" name="post[topic_id]" value="<%= params[:topic] %>" /><% end %>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :content %><br>
	<%= f.text_area :content %>

	<input type="hidden" name="post[topic_id]" value=<%= params[:topic] %> />
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>